/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  padding: 20px;
  text-align: left;
}

a {
  margin-left: 20px;
  text-decoration: none;
}

.callout {
  padding: 20px;
  margin-left: 20px;
  border: 0px solid #c6c6c6;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout-b {
  margin: 20px;
  padding: 20px;
  border: 0px solid #c6c6c6;
  border-left-width: 5px;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgb(255, 255, 230);
}

.italic {
  font-style: italic;
  font-weight: normal;
}

br {
  font-style: italic;
}
